.MuiContainer-root {
  background-color: #e00909;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.contact h2 {
  color: #31343d;
  margin-bottom: 20px;
}

.contact form {
  display: flex;
  flex-direction: column;
}

.contact label {
  margin-bottom: 10px;
}

.contact input,
.contact textarea {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

.contact button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #92ccce;
  color: white;
  cursor: pointer;
}